@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  @apply bg-white text-gray-900 min-h-screen;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  .react-tailwindcss-datepicker__wrapper,
  .react-tailwindcss-datepicker__input,
  .react-tailwindcss-datepicker__calendar {
    background-color: #ffffff !important;
    color: #213547 !important;
    border-color: #d1d5db !important;
  }
} */
